body {
    margin: 0 auto;
    background-color: #1b1b1b;
    width: 960px;
}

h1 {
    color: white;
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 50px;
    font-style: italic;
}

#links {
    border: 4px black solid;
    padding: 8px;
    background-color: RGB(109, 0, 255);
    font-style: italic;
    text-align: center;
    color: white;
}

#header {
    border: 4px black solid;
    padding: 8px;
    background-image: linear-gradient(140deg, RGB(36, 0, 85), RGB(73, 0, 170), RGB(109, 0, 255));
}

#announce {
    background-color: #dddd44;
    border: 4px black solid;
    padding: 8px;
}

#foot {
    background-color: #225511;
    border: 4px black solid;
    padding: 8px;
    color: white;
}

#stats {
    background-color: #000055;
    border: 4px black solid;
    padding: 8px;
    color: white;
}

div.flex {
  display: flex;
  flex-direction: row;
}

div.flex > div {
  margin: 10px;
}

#forum {
    flex: 1;
    border: 4px black solid;
    padding: 8px;
    background-image: linear-gradient(0deg, RGB(36, 85, 85), RGB(73, 170, 170));
    color: white;
}

#phead {
    margin: -8px;
    background-color: RGB(0, 50, 50)
}
